
    body{
        background-color: whitesmoke;
 
 }
 
 .title {
     margin-top: 10px;
     margin-bottom: 10px;
     font-size: 20px;
     text-align: center;
     color: rgb(12, 86, 204)
   }
  
  
 .container {
     /* width: 100%; */
     background-color: white;
     /* font-size: 15px; */
     margin-bottom: 20px; 
     /* padding:px;  */
     /* margin-top: 15px;
     opacity: 1;
     position:absolute ;
     padding: 20px;
     margin-bottom: 50px; */
 }
      
      
      
      /* .jumbotron jumbotron-fluid {
        height: 14vh; 
        width: 100%;

      } */


      #map {
        position: relative;
        border: 1px solid black;
        border-radius: 0px;
        height: 48vh; 
        width: 100%;  
      }
      
     
      #lineGraph {
        height: 48vh;
        border: 1px solid black;
        border-radius: 0px;
      }
      
      #Piechart{
        height: 48vh;
        border: 1px solid black;
        border-radius: 0px;
      }
     
     